[id^=cBox]{
    
    color: white;
    transition: 0.9s; 
    border-radius: 6px;
    display: flex;
    flex-direction:column; 
    flex:1;
}

.itemCount{
    font-size: 12px;
   
    margin-top: auto;
}

#cBox1{
    background-color: #C46EB6FF;
    text-align: start;
    
}

#cBox1:hover {
    background-color: #6EB6FF; 
    color: white;
    
}

#cBox2{
    background-color: #002157C4;
    text-align: start;
}
#cBox2:hover {
    background-color: #6EB6FF; 
    color: white;
}
#cBox3{
    background-color: #54ee18da;
    text-align: start;
}
#cBox3:hover {
    background-color: #6EB6FF; 
    color: white;
}
#cBox4{
    background-color: #C502FF;
    text-align: start;
}
#cBox4:hover {
    background-color: #C46EB6FF; 
    color: white;
}
#cBox5{
    background-color: #35A235;
}
#cBox5:hover {
    background-color: #6EB6FF; 
    color: white;
}
#cBox6 {
    background-color: #583e7ae3;
}
#cBox6:hover {
    background-color: #6EB6FF; 
    color: white;
}
#cBox7{
    background-color: #C46EB6FF;
}
#cBox7:hover {
    background-color: #6EB6FF; 
    color: white;
}
#cBox8{
    background-color: #C4707070;
}
#cBox8:hover {
    background-color: #6EB6FF; 
    color: white;
}
#cBox9{
    background-color: #C4FF00C4;
}
#cBox9:hover {
    background-color: #6EB6FF; 
    color: white;
}