.varaHeader{
    
    justify-content: flex-start;
}

.cashierCount{
    order: 0;
    flex: 0 1 auto;
    align-self: flex-end;
    font-size: 14px;
}


.vara{
    
    order: 0;
    flex: 0 1 auto;
    align-self: flex-end;
font-size: 16px;
    
    
}

.priset{
    order: 0;
    flex: 0 1 auto;
    align-self: flex-end;
    font-size: 12px;
}
[id*="cBox"]{
    animation: append-animate .7s
    
    
}