<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
   
<div class="container">
    <div class="row">
        <div id ="categories" class="col">
           <span class="categoriesText">Categories</span> 
            <div class="row ">
                  
                <div id = "cBox1"class="col"><button type = "button" class = "btn block"><span class="colhead1">Pre</span> <span class="totalItems1">10 items</span></button></div>
                <input type="button" id="mybutton" name="test" class="btn block col text-left"> 
              <!--   <div id = "cBox2"class="col">Mains</div>-->
                <div id = "cBox3"class="col">Dessert</div>
            </div>
            <div class="row">
                <div id = "cBox4"class="col">Wines</div>
                <div id = "cBox5"class="col">Beers</div>
                <div id = "cBox6"class="col">Drinks</div>
            </div>
            <div class="row">
                <div id = "cBox7"class="col">Snacks</div>
                <div id = "cBox8"class="col">Addons</div>
                <div id = "cBox9"class="col">Extra</div>
            </div>
        </div>
        <div id ="dessert"class="col">
            <span class="categoriesText">Dessert</span>
            <div class="row">
                <div id = "dBox1"class="col">Pre</div>
                <div id = "dBox2"class="col">Main</div>
                <div id = "dBox3"class="col">Dessert</div>
            </div>
            <div class="row">
                <div id = "dBox4"class="col">Pre</div>
                <div id = "dBox5"class="col">Main</div>
                <div id = "dBox6"class="col">Dessert</div>
            </div>
            <div class="row">
                <div id = "dBox7"class="col">Pre</div>
                <div id = "dBox8"class="col">Main</div>
                <div id = "dBox9"class="col">Dessert</div>
            </div>
        </div>
        <div id = "cashier" class="col"></div>
    </div>
</div>

    <script src="js/bootstrap.bundle.js"></script>
</body>
</html>