<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
   
<div class="container">
    <div class="row">
        <div id ="categories" class = "col" id = "colHeaders">
           <span class="categoriesText">Categories</span> 
            <div class="row ">
                  
                <div id = "cBox1"class="col" onclick="cateClick('cBox1')">Pre</span> <span class="totalItems1">10 items</span></div>
                
                <div id = "cBox2"class="col" onclick="cateClick('cBox2')">Mains<span class="totalItems1">10 items</span></div>
                <div id = "cBox3"class="col" onclick="cateClick('cBox3')">Dessert<span class="totalItems1">10 items</span></div>
            </div>
            <div class="row">
                <div id = "cBox4"class="col" onclick="cateClick('cBox4')">Wines<span class="totalItems1">10 items</span></div>
                <div id = "cBox5"class="col" onclick="cateClick('cBox5')">Beers<span class="totalItems1">10 items</span></div>
                <div id = "cBox6"class="col" onclick="cateClick('cBox6')">Drinks<span class="totalItems1">10 items</span></div>
            </div>
            <div class="row">
                <div id = "cBox7"class="col" onclick="cateClick('cBox7')">Snacks<span class="totalItems1">10 items</span></div>
                <div id = "cBox8"class="col" onclick="cateClick('cBox8')">Addons<span class="totalItems1">10 items</span></div>
                <div id = "cBox9"class="col" onclick="cateClick('cBox9')">Extra<span class="totalItems1">10 items</span></div>
            </div>
        </div>
        <div id ="dessert"class="col">
            <span id ="desText" class="categoriesText2">Dessert</span> 
            <div class="row">
                <div id = "dBox1"class="col" onclick = "itemCountFunction('dBox1')"><h1 class="dessertBox"><span id="itemcount1" class="itemCount">0</span> <span class="item">Tryffel</span> <span class="price">€12.50</span></h1></div>
                <div id = "dBox2"class="col" onclick = "itemCountFunction('dBox2')"><h1 class="dessertBox"><span id="itemcount2" class="itemCount">0</span> <span class="item">Tryffel</span> <span class="price">€12.50</span></h1></div>
                <div id = "dBox3"class="col" onclick = "itemCountFunction('dBox3')"><h1 class="dessertBox"><span id="itemcount3" class="itemCount">0</span> <span class="item">Tryffel</span> <span class="price">€12.50</span></h1></div>
            </div>
            <div class="row">
                <div id = "dBox4"class="col" onclick = "itemCountFunction('dBox4')"><h1 class="dessertBox"><span id="itemcount4" class="itemCount">0</span> <span class="item">Tryffel</span> <span class="price">€12.50</span></h1></div>
                <div id = "dBox5"class="col" onclick = "itemCountFunction('dBox5')"><h1 class="dessertBox"><span id="itemcount5" class="itemCount">0</span> <span class="item">Tryffel</span> <span class="price">€12.50</span></h1></div>
                <div id = "dBox6"class="col" onclick = "itemCountFunction('dBox6')"><h1 class="dessertBox"><span id="itemcount6" class="itemCount">0</span> <span class="item">Tryffel</span> <span class="price">€12.50</span></h1></div>
            </div>
            <div class="row">
                <div id = "dBox7"class="col" onclick = "itemCountFunction('dBox7')"><h1 class="dessertBox"><span id="itemcount7" class="itemCount">0</span> <span class="item">Tryffel</span> <span class="price">€12.50</span></h1></div>
                <div id = "dBox8"class="col" onclick = "itemCountFunction('dBox8')"><h1 class="dessertBox"><span id="itemcount8" class="itemCount">0</span> <span class="item">Tryffel</span> <span class="price">€12.50</span></h1></div>
                <div id = "dBox9"class="col" onclick = "itemCountFunction('dBox9')"><h1 class="dessertBox"><span id="itemcount9" class="itemCount">0</span> <span class="item">Tryffel</span> <span class="price">€12.50</span></h1></div>
            </div>
        </div>
        <div id = "cashier" class="col" id = "colHeaders"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="index.js"></script>
    
</body>
</html>