<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link rel="stylesheet" href="styles1.css">
    
    <title>Document</title>
</head>
<body>
    
</body>
    <div class="container">
        <div class="header">Navbar</div>
        <div class="content1Text">HeadText #1</div>
        <div class="content1">
            <div class="contentBox1">#1</div>
            <div class="contentBox1">#2</div>
            <div class="contentBox1">#3</div>
            <div class="contentBox1">#4</div>
            <div class="contentBox1">#5</div>
            <div class="contentBox1">#6</div>
            <div class="contentBox1">#7</div>
            <div class="contentBox1">#8</div>
            <div class="contentBox1">#9</div> 
            
        </div>
        <div class="content2Text">HeadText #2</div>
        <div class="content2">
            <div class="contentBox1">#1</div>
            <div class="contentBox2">#2</div>
            <div class="contentBox3">#3</div>
            <div class="contentBox4">#4</div>
            <div class="contentBox5">#5</div>
            <div class="contentBox6">#6</div>
            <div class="contentBox7">#7</div>
            <div class="contentBox8">#8</div>
            <div class="contentBox9">#9</div> 
        </div>
        <div class="content3Text">HeadText #3</div>
        <div class="content3">
            <div class="content3text1">#1</div>
            <div class="content3text2">#2</div>
            <div class="content3text3">#3</div>
            <div class="content3text4">#4</div>
        </div>
        <div class="footer">Footer #1</div>

    </div>
</html>