<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link rel="stylesheet" href="styles1.css">
    
    <title>Document</title>
</head>
<body>
    
</body>
    <div class="container">
        <div class="header">Navbar</div>
        <div class="content1Text">Categories</div>
        <div class="content1">
            <div class="contentBox1">Pre</div>
            <div class="contentBox1">Mains</div>
            <div class="contentBox1">Dessert</div>
            <div class="contentBox1">Wines</div>
            <div class="contentBox1">Beers</div>
            <div class="contentBox1">Drinks</div>
            <div class="contentBox1">Snacks</div>
            <div class="contentBox1">Addons</div>
            <div class="contentBox1">Extra</div> 
            
        </div>
        <div class="content2Text">HeadText #2
            <div class="content2Text1">
                <span class="headtext1">Popular</span>
                <span class="headtext2">A/z</span>
                <span class="headtext3">Price</span>
            </div>
        </div>
        
        <div class="content2">
            <div class="contentBox2">#1</div>
            <div class="contentBox2">#2</div>
            <div class="contentBox2">#3</div>
            <div class="contentBox2">#4</div>
            <div class="contentBox2">#5</div>
            <div class="contentBox2">#6</div>
            <div class="contentBox2">#7</div>
            <div class="contentBox2">#8</div>
            <div class="contentBox2">#9</div> 
            <div class="contentBox2">#7</div>
            <div class="contentBox2">#8</div>
            <div class="contentBox2">#9</div> 
        </div>
        <div class="content3Text">
            <div class="content3text1">Table 5 Customer</div>
            <div class="content3text2">Channel</div>
            <div class="content3text3">x</div>
        </div>
        <div class="content3">
            <div class="content3text1">#1</div>
            <div class="content3text2">#2</div>
            <div class="content3text3">#3</div>
            <div class="content3text4">#4</div>
        </div>
        <div class="footer">Footer #1</div>

    </div>
</html>