<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body>

<p th:text="${mykey}" ></p>
<div id="main"></div>

<script th:inline="javascript">
    /*<![CDATA[*/

    var myval = /*[[${mykey}]]*/ "Test";
    var listVals = /*[[${myList}]]*/ "Test1";
    /*]]>*/

var mainDiv = document.getElementById("main");
for(var i = 0; i < listVals.length; i++){
    var t = document.createTextNode(listVals[i]);

    var p = document.createElement("P");
    p.appendChild(t);
    mainDiv.appendChild(p);
}
        </script>


</body>
</html>