@font-face {
    font-family: "HelveticaNeue";
    font-weight: 100;
    src: local("Helvetica Neue Thin"),
    local("HelveticaNeue-Thin");
}

@font-face {
    font-family: "HelveticaNeue";
    font-weight: 300;
    src: local("Helvetica Neue Light"),
    local("HelveticaNeue-Light");
}

@font-face {
    font-family: "HelveticaNeue";
    font-weight: normal;
    src: local("Helvetica Neue"),
    local("HelveticaNeue");
}

@font-face {
    font-family: "HelveticaNeue";
    font-weight: bold;
    src: local("Helvetica Neue Bold"),
    local("HelveticaNeue-Bold");
}
.container{
    width: 100vw;
    height: 100vh;

    font-family: HelveticaNeue, Helvetica, Arial, Verdana, sans-serif;
    font-weight: normal;
    
    font-size: 20px;
    display:grid;

    grid-template-columns: repeat(8, 1fr) ;
    grid-template-rows: repeat(8, 1fr) ;

    gap: 5px;

    
    box-sizing: border-box;
}

.container div{
    padding: 10px;
    border: 1px solid black;
}

.nav {
    background-color: black;
    display: grid;
    grid-column: 1;
    grid-column-end: 1;
    grid-row: 1;
    grid-row-end: 9;

    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  
    justify-content: flex-start;
    justify-content: space-around;
    
    gap: 50px;

    
}

img{
    height: 30px;
    width: 30px;

    

}

.content1Text{
    grid-column: 2;
    grid-column-end: 4;
    grid-row: 1;

    display: flex;
    align-self: flex-end;

}

.content2Text1{
display: flex;
align-items: flex-end;
justify-content: flex-end;
 
}

.headtext1{

}

.content2Text{
    grid-column: 4;
    grid-column-end: 6;
    grid-row: 1;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.content3Text{
    grid-column: 6;
    grid-column-end: 8;
    grid-row: 1;

    display: flex;
    align-items: flex-end;
    
}

.content1{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:  8;
    gap:4px;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr) ;
    overflow: auto;
    
    
    
}

.content1::-webkit-scrollbar {
    display: none;
  }

.content2::-webkit-scrollbar {
    display: none;
  }
.content2{
    display: grid;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end:  8;
    gap: 4px;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr) ;
    overflow: auto;
}
.content3{
    display: grid;
    overflow: auto;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end:  8;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.content3text4{
    grid-column: 1;
    grid-row: 5;

    position: relative;
    top:30px
}

.contentBox1{
    height: 145px;
    
}
.contentBox2{
    height: 145px;
    
    
}
.contentBox3{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row: 1;
    grid-row-end: 1;
    
}

.footer{
    grid-column: 2;
    grid-column-end:6;
    grid-row: 8;
    
}

.buyButton {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row: 8;
}