
.container{
    width: 100vw;
    height: 100vh;

    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    display:grid;

    grid-template-columns: repeat(7, 1fr) ;
    grid-template-rows: repeat(8, 1fr) ;

    gap: 15px;

    padding: 10px;
    box-sizing: border-box;
}

.container div{
    padding: 10px;
    border: 1px solid black;
}

.header {
    grid-column: 1;
    grid-column-end: 1;
    grid-row: 1;
    grid-row-end: 9;

    
}

.content1Text{
    grid-column: 2;
    grid-column-end: 4;
    grid-row: 1;

    display: flex;
    

   
}

.content2Text{
    grid-column: 4;
    grid-column-end: 6;
    grid-row: 1;
}
.content3Text{
    grid-column: 6;
    grid-column-end: 8;
    grid-row: 1;
}

.content1{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:  8;
    gap:4px;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr) ;
    overflow: auto;
    
}
.content2{
    display: grid;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end:  8;
    gap: 4px;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr) ;
}
.content3{
    display: grid;
    overflow: auto;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end:  8;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.content3text4{
    grid-column: 1;
    grid-row: 5;

    position: relative;
    top:30px
}

.contentBox1{
    height: 1fr;
    
}
.contentBox2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    
}
.contentBox3{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row: 1;
    grid-row-end: 1;
    
}

.footer{
    grid-column: 2;
    grid-column-end:6;
    grid-row: 8;
    
}