[class*="col"]{
    padding-top: 200px;
    padding: 20px;
    background-color: black;
    
    color: #fff;
    text-align: left;
    
    
}
body{
    
    background-color: black;
}


.container{
    
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 130px;
    margin-right: 130px;
    
    
    
    font-family: Arial, Helvetica, sans-serif;
   
    font-style: normal;
}



#categories{
    
    padding-top: 75px;
    justify-content: space-around;
    
}
.categoriesText{
    font-size: 25px;
    position: relative;
    top: -30px; 
}

.categoriesText2{
    font-size: 25px;
    position: relative;
    top: -30px;
    color:rgba(0,0,0,0);
   transition: 0.9s;
}



#dessert{
    padding-top: 75px;
    justify-content: space-around;
    
}

.dessertBox{
    color:rgba(0,0,0,0);
}

[id^=cBox]{
    border-radius: 4px;
    font-size: 22px;
    transition: 0.4s; 
    height: 195px;
    width: 300px;
}



[id^=dBox]{
    border-radius: 4px;
    
    background-color: #31313180;
    transition: 0.9s;
    height: 195px;
    width: 300px;
    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
opacity: 0.5;
transition: 0.6s;
}

[id^=box3]{
    
   
    border: 1px solid white;
    
    margin-top: 93px;
    
}

#box33{
    margin-top: 20px;
}


#box31{
   margin-top: 10px;
    height: 500px;
}

#box32{
    margin-top: 20px;
    height: 100px;
}




.itemCount{
    font-size: 40px;
    position: relative;
    top: -10px;
    display: flex;
    align-items: flex-start;
}

.item{
    font-style:normal;
   font-size: 22px; 
   display: flex;
   justify-content: flex-start;
   align-items: center;
   position: relative;
   top: 20px;
   
   
}

.price{
    font-size: 12px;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
    position: relative;
    top: 73px;
}

 






.row{
    padding: 3px;
    column-gap: 5px;
}

#cBox1{
    background-color: #C46EB6FF;
    text-align: start;
    transition: 0.4s;  
}

#cBox1:hover {
    background-color: #6EB6FF; 
    color: white;
}

#cBox2{
    background-color: #002157C4;
    text-align: start;
}
#cBox2:hover {
    background-color: #6EB6FF; 
    color: white;
}
#cBox3{
    background-color: #C400FF0A;
    text-align: start;
}
#cBox3:hover {
    background-color: #6EB6FF; 
    color: white;
}
#cBox4{
    background-color: #C502FF;
    text-align: start;
}
#cBox4:hover {
    background-color: #C46EB6FF; 
    color: white;
}
#cBox5{
    background-color: #35A235;
}
#cBox5:hover {
    background-color: #6EB6FF; 
    color: white;
}
#cBox6 {
    background-color: #C4CC2304;
}
#cBox6:hover {
    background-color: #6EB6FF; 
    color: white;
}
#cBox7{
    background-color: #C46EB6FF;
}
#cBox7:hover {
    background-color: #6EB6FF; 
    color: white;
}
#cBox8{
    background-color: #C4707070;
}
#cBox8:hover {
    background-color: #6EB6FF; 
    color: white;
}
#cBox9{
    background-color: #C4FF00C4;
}
#cBox9:hover {
    background-color: #6EB6FF; 
    color: white;
}

.totalItems1{
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
    
    height: 130px;
    font-size: 12px;
   

    
    
}
