
.adminDashboard{
    z-index: 4;
    display: grid;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row: 2;
    grid-row-end: 8;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    font-size: 25px;
    overflow: auto;
}

.tableDash{
    z-index: 4;
    display: grid;
    grid-column: 2;
    grid-column-end: 10;
    grid-row: 3;
    grid-row-end: 8;
}

.exitButton{
    z-index: 5;
    display: grid;
    grid-column: 7;
    grid-row: 2;
    position: relative;
    left: 90px;
    opacity: 0.5;
    cursor: pointer;
}

.backButton{
    z-index: 5;
    display: grid;
    grid-column: 2;
    grid-row: 2;
    position: relative;
    left: 300px;
    top: 2px;
    opacity: 0.9;
    cursor: pointer;
}

.exitDot:hover{
    content: "Close"
}



#text10:hover{
    color: green;
    cursor: pointer;
}
#text11:hover{
    color: blue;
    cursor: pointer;
}
#text12:hover{
    color: red;
    cursor: pointer;
}
#text13:hover{
    color: yellow;
    cursor: pointer;
}

.adminDashDiv{
    z-index: 4;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    position: relative;
    top: -10px;

}

.form-group{
    display: flex;
    flex-direction: column;
}

.categoryChoose{
    display: flex;
    flex-direction: column;
}

.form-control{
    height: 30px;
    border-radius: 5px;
    border: none;
    
}

#category{
    height: 30px;
    border-radius: 5px;
    border: none;
}
#drop{
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: blueviolet;
    color: white;
    
}

#kvittoknapp{
    cursor: pointer;
}

#adminknapp{
    cursor: pointer;
}