.rad1{
    display: flex;
    justify-content: space-between;
    opacity: 0.6;
    font-size: 15px;
}

.rad2{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.checkOutButton{
    display: flex;
    z-index: 4;
    grid-column: 4;
    grid-column-end: 6;
    grid-row: 7;
    grid-row-end: 8;
    border-radius: 50px;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    border-radius: 200px;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    animation: fade-in 0.1s;
}

.cancelButton{
    z-index: 4;
    grid-column: 6;
    grid-column-end: 8;
    grid-row: 7;
    grid-row-end: 8;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    animation: fade-in 0.1s;
}

.checkOutButton:hover{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: 0.6s;
}

.cancelButton:hover{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: 0.6s;
}

.lds-dual-ring {
    
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  